name: Payout Management System

on: [push, pull_request]


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.2'
          cache-dependency-path: go.sum
      - name: Display Go version
        run: go version
      - name: Install dependencies
        run: go get .
      - name: Start all containers
        run: docker compose -f .devcontainer/docker-compose.yml up -d
      - name: Wait for database
        run: |
              until docker exec devcontainer-db-1 pg_isready -U postgres; do
                echo "Waiting for PostgreSQL..."
                sleep 2
              done

      - name: Create table Payee
        run: |
          docker cp payee/payee_db.sql devcontainer-db-1:/payee_db.sql
          docker exec devcontainer-db-1 psql -U postgres -d postgres -f /payee_db.sql
      - name: Run tests
        run: docker exec devcontainer-app-1 sh -c "cd /workspaces/payout-management-system && go test -v ./..."
